[submodule "cookbooks/dmg"]
	path = cookbooks/dmg
	url = https://github.com/opscode-cookbooks/dmg.git
[submodule "cookbooks/pivotal_workstation"]
	path = cookbooks/pivotal_workstation
	url = https://github.com/pivotal/pivotal_workstation.git
